input {
  margin: 0;
  padding: 8px;
  outline: none;
}

input[type=submit] {
  border: 2px solid transparent;
  background: #bbb;
  color: #333;
  cursor: pointer;
}

input[type=submit]:hover {
  border: 2px solid #bbb;
  background: #fff;
  color: #aaa;
}

.active {
  color: #333;
}

.hover:hover {
  color: #333;
}

.admin-navbar {
  padding: 20px 0px;
}

.admin-navbar ul {
  display: flex;
  justify-content: space-around;
}

.admin-families {
  width: 100%;
}

.admin-create-families {
  width: 80%;
  margin: 0 auto;
}

.admin-create-families form {
  display: flex;
  justify-content: space-around;
  padding: 15px;
}

.admin-create-families input:first-child {
  width: 20%;
}

.admin-create-families input:nth-child(2){
  width: 60%;
}

.admin-families-list ul {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.admin-families-list-item {
  padding: 10px;
  margin: 5px;
  border: 1px solid #bbb;
}

.admin-contact {
  display: flex;
  justify-content: center;
}

.contact-input {
  border: 1px solid #ddd;
  margin-bottom: 15px;
  padding: 8px;
  font-size: 16px;
  width: 275px;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

.contact-input:focus {
  border-left: 1px solid transparent;
  border-top: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 1px solid blue;
}

.contact-submit {
  width: 100%;
}

@media (min-width: 450px) {
  .admin-navbar {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
}
